.contact-section{
    height: 700px;
    padding-bottom: 40px;
    margin-left: 250px;
    box-shadow: 15px 9px 9px -2px rgba(230, 224,224,0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224,224,0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224,224,0.86);
}
.contact-form-image img{
    height: 600px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 40px;
    padding: 8px;

}

.text-center{
    padding-bottom: 20px;
}
.contact input{
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;

}

.custom-select {
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
 

}
.text-area{
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;

}
label{
    font-size: 16px;
    color: brown;
}
.btn-submit{
    background-color: palevioletred;
    padding: 10px;
    border-radius: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.btn-submit:hover{
    background-color: brown;
    transition-duration: 1s;

}
#dark .contact-section{
    background-color: #38004c;
    box-shadow: -6px 11px 5px -4px  rgba(0,0,0,0.42);
    --webkit-box-shadow: -6px 11px 5px -4px  rgba(0,0,0,0.42);
    --moz-box-shadow: -6px 11px 5px -4px  rgba(0,0,0,0.42);
    color: white;
}
#dark label{
    color: white
}
#dark .row{
    background-color: #38004c;

}
#dark .contact-form input{
    background-color: #38004c;
    border: 2px solid white;
    color: white;
    
}
#dark .custom-select{
    background-color: #38004c;
    border: 2px solid white;
    color: white;
}
#dark .text-area{
    background-color: #38004c;
    border: 2px solid white;
    color: white;
}
#dark .btn-submit{
    background-color: black;
}
#dark .btn-submit:hover{
    background-color: rgb(227, 105, 105)
}
@media (max-width:800px) {
    .contact-section{
        margin-left: 0px;
    }
    
}

